<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PASSWORD GENERATOR</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@0.9.0/dist/js-confetti.browser.js"></script>
    <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.js"></script>
    <script src="https://unpkg.com/split-type"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://unpkg.com/vue-chartjs@2.8.7/dist/vue-chartjs.full.min.js"></script>

</head>


<body>
    <v-app id="app">
        <v-container v-if="this.pantalla1 == true">
            <v-row>
                <v-col cols="12" md="6" class="mx-auto">
                  <v-card>
                    <v-card-title class="text-h5">PASSWORD GENERATOR</v-card-title>
                    <v-card-text>
                        <h4>ESTA APLICACIÓN LE PERMITE CREAR CONTRASEÑAS ALEATORIAS Y GUARDARLAS CON TOTAL SEGURIDAD!</h4>
                        <h4>ADEMÁS, PUEDE CONSULTARLAS EN QUALQUIER MOMENTO!</h4>
                        <v-row>
                            <v-col cols="6" xs="12">
                                <v-text-field v-model="user" label="Escriba aquí su nombre por favor" required></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field v-model="key" label="(OPCIONAL) Para que va usar esta contraseña? (use una palabra para acordarse para que la creó)"></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="6" xs="12">
                                <v-card v-model="pwd">Aquí aparecerá su nueva contraseña: {{pwd}}</v-card>
                            </v-col>
                        </v-row>
                    </v-card-text>
                    <v-card-actions>
                        <v-row>
                            <v-row>
                                <v-col cols="12">
                                    <v-btn @click="generatePWD" color="primary" >CLICK PARA CREAR UNA CONTRASEÑA</v-btn>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="12">    
                                    <v-btn @click="savePWD" color="secondary">CLICK AQUÍ PARA GUARDAR LA CONTRASEÑA</v-btn>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="12" >
                                    <v-btn @click="listPWD" color="green">CLICK AQUÍ PARA VER TODAS SUS CONTRASEÑAS</v-btn>
                                </v-col>
                            </v-row>
                            <v-snackbar
                                v-model="snackbar"
                                :timeout="3000"
                            >
                            {{ message }}
                            </v-snackbar>
                        </v-row>
                        
                    </v-card-actions>  
                    </v-card>
                    
                </v-col>
                
              </v-row>
        </v-container>
        <v-contariner v-if="this.pantalla2==true">
            <v-col cols="12" md="6" class="mx-auto">
                <v-row>
                    <v-col cols="12">    
                        <v-btn @click="changeScreen" color="secondary">VOLVER A LA PANTALLA ANTERIOR</v-btn>
                    </v-col>
                </v-row>
                <v-row v-for="pwd in passwords">
                    <v-card>
                        {{ pwd }}
                    </v-card>
                </v-row>
            </v-col>
        </v-contariner>
    </v-app>
    <script src="index.js"></script>
</body>

</html>